@import 'public';

// header
$headwidth:100%;
$display:block;
$conwidth:1220px;
$borderRadius:10px;
@mixin center {
    margin: 0 auto;
}
// header
#head{
    width: 100%;
    height: 100px;
    background: #040404;
    border-top: 1px solid #e1e1e2;
    border-bottom: 1px solid #e1e1e2;
    .head-con{
        width: $conwidth;
        height: $headwidth;
        @include center;
        .logo1{
            padding-top: 30px;
            float: left;
            .logo{
                width: 40px;
                height: 42px;
            }
        }
        .nav{
            width: 903px;
            height: $headwidth;
            margin-left: 118px;
            float: left;
            li{
                float: left;
                padding-top: 44px;
                height: 12px;
                a{
                    margin-right: 43px;
                    font-size: 12px;
                    color: #c8c8c8;
                    line-height: 12px;
                    &:hover {color: #ffffff}
                }
            }
        }
        .icon{
            width: 159px;
            height: 98px;
            display: inline-block;
            position: relative;
            a:first-child{
                width: 20px;
                height: 20px;
                display: $display;
                font-size: 20px !important;
                color: #999999 !important;
                margin: 0 auto;
                position: absolute;
                left: 50px;
                top: 40px;
                .icon-wo{
                    line-height: 20px !important;
                }
            }
            a:nth-of-type(2){
                display: $display;
                width: 30px;
                height: 20px;
                font-size: 20px !important;
                color: #999999 !important;
                margin: 0 auto;
                position: absolute;
                right: 32px;
                top: 39px;
            }
            .icon-num{
                width: 20px;
                height: 20px;
                background:#9e9e9e;
                border-radius: 10px;
                border: 1px solid #4f4f4f;
                position: absolute;
                right: 12px;
                top: 38px;
                text-align: center;
                line-height: 20px;
                color: #ffffff;
                font-size: 12px;
            }
            span:hover{
                color: #ffffff !important;
            }
        }
    }
}
// search
$searchheight:89px;
#search{
    width: $headwidth;
    height: $searchheight;
    background: #ededed;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    .search-con{
        width: $conwidth;
        height: $searchheight;
        position: relative;
        @include center;
        ul{
            width: 158px;
            height: $searchheight;
            float: left;
            li{
                float: left;
                margin-top: 40px;
                a{
                    font-size: 12px;
                    color: #666666;
                    &:hover{
                        color: blue;
                    }
                }
            }
            .con1{
                margin:40px 32px 0 9px
            }
        }
        input{
            width: 969px;
            height: 30px;
            border: 1px solid #cccccc;
            margin-left: 91px;
            float: left;
            margin-top: 35px;
            border-radius: 0 15px 15px 0;
            font-size: 16px;
        }
        p:nth-of-type(1){
            width: 40px;
            height: 28px;
            background: #ffffff;
            position: absolute;
            left: 209px;
            top: 35px;
            border-radius: 15px 0 0 15px;
            border: 1px solid #cccccc;
            border-right: 0;
        }
        a{
            .R1{
                position: absolute;
                right: 8px;
                top: 40px;
                width: 153px;
                height: 18px;
                background: #e5efff;
                font-size: 12px;
                color: #3965cc;
                text-align: center;
                line-height: 18px;
                border: 1px solid #93b2f7;
                border-radius: 9px;
            }
        }
    }
}
// banner
$width:1218px;
#banner{
    width: $headwidth;
    height: 497px;
    background: #ededed;
    .banner-con{
        width: $width;
        height: $headwidth;
        @include center;
        position: relative;
        border: 1px solid #dbdbdb;
        border-radius: $borderRadius;
        a{
            display: block;
            img{
                //display: none;
                width: $width;
                height: 497px;
                position: absolute;
            }
        }
        ol{
            width: 648px;
            height:11px;
            display: block;
            position: absolute;
            bottom: 26px;
            left: 0;
            padding-left: 570px;
            li{
                float: left;
                margin-right: 12px;
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                background: #ffffff;
                border: 1px solid #000000;
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }
}
// preview
#preview{
    width: $headwidth;
    height: 202px;
    background: #ededed;
    margin-top: 25px;
    .preview-con{
        width: $width;
        background: #f5f5f5;
        height: 202px;
        border: 1px solid #dbdbdb;
        border-radius: $borderRadius;
        @include center;
        section{
            float: left;
            width: 304px;
            height: $headwidth;
            border-left: 1px solid #eeeeee;
            &:hover{
                box-shadow: 20px 20px 50px 10px #ededed inset;
            }
            h2{
                font-size: 16px;
                color: #282828;
                font-weight: 800;
                text-align: center;
                margin-top: 32px;
                p{
                    display: inline-block;
                    width: 50px;
                    height: 20px;
                    background: #dc3b3d;
                    color: #eff1f2;
                    text-align: center;
                    line-height: 20px;
                    font-size: 12px;
                    border-radius: 5px;
                }
            }
            h6{
                font-size: 12px;
                color: #858585;
                text-align: center;
                margin-top: 11px;
            }
            img{
                width: 60%;
                height: 122px;
                @include center;
            }
        }
        .preview-con1{
            width: 303px;
            border-left: 0;
        }
    }
}
// product
#product{
    width: $headwidth;
    height: 489px;
    margin-top: 25px;
    .product-con{
        width: $width;
        height: $headwidth;
        border: 1px solid #dbdbdb;
        border-radius: $borderRadius;
        @include center;
        background: #ffffff;
        .product-con1{
            width: $headwidth;
            height: 60px;
            background: #fafafa;
            border-bottom: 1px solid #e1e1e1;
            border-radius: $borderRadius $borderRadius 0 0;
            h1{
                font-size: 18px;
                line-height: 60px;
                text-align: center;
                color: #666666;
                width: 157px;
                height: 60px;
                float: left;

            }
            div{
                width: 92px;
                height: 50px;
                float: right;
                padding-top: 10px;
                :first-child{
                    display: inline-block;;
                    width: 40px;
                    height: 40px;
                    background: url('./../src/img/112.png') no-repeat center;
                }
                :last-child{
                    display: inline-block;;
                    width: 40px;
                    height: 40px;
                    background: url('./../src/img/111.png') no-repeat center;
                }
            }
        }
        dl{
            float: left;
            display: block;
            width: 304px;
            height: 428px;
            border-left: 1px solid #efefef;
            //@include shadow;
            dt{
                position: relative;
                margin-bottom: 284px;
                margin-top: 30px;
                img{
                    position: absolute;
                    margin-left: 43px;
                }
                p{
                    width: 44px;
                    height: 18px;
                    text-align: center;
                    line-height: 18px;
                    color: #d03b34;
                    font-size: 12px;
                    border-radius: 9px;
                    position: absolute;
                    right: 20px;
                    top: -10px;
                    background: #ffe7e5;
                    border: 1px solid #f5a39d;
                }
            }
            dd{
                h2{
                    font-size: 12px;
                    color: #333333;
                    text-align: center;
                    line-height: 12px;
                    font-weight: 900;
                }
                h3{
                    font-size: 12px;
                    color: #999999;
                    text-align: center;
                    line-height: 12px;
                    margin-top: 18px;
                }
                .circle1{
                    @include circle(#000000);
                    margin: 17px 10px 0 132px;
                    display: inline-block;
                }
                .circle2{
                    @include circle(#cccccc);
                    display: inline-block;
                    margin-left: 10px;
                }
                .circle3{
                    @include circle(#000000);
                    margin: 17px 10px 0 97px;
                    display: inline-block;
                }
                .circle4{
                    @include circle(#000000);
                    margin: 17px 10px 0 121px;
                    display: inline-block;
                }
                .circle5{
                    @include circle(#000000);
                    margin: 17px 10px 0 109px;
                    display: inline-block;
                }
                h4{
                    font-size: 16px;
                    text-align: center;
                    line-height: 16px;
                    color: #d44d44;
                    font-weight: 900;
                    margin-top: 24px;
                    position: relative;
                    p{
                        width: 98px;
                        height: 28px;
                        border: 1px solid #e1e1e1;
                        border-radius: $borderRadius;
                        font-size: 12px;
                        color: #646464;
                        line-height: 28px;
                        text-align: center;
                        display: none;
                        background: #fdfdfd;
                        position: absolute;
                        left: 102px;
                        bottom: 0px;
                    }
                }
            }
        }
        .product-con2{
            width: 303px;
            border-left: 0;
        }
    }
}
// show1 product
#show1{
    @include product-show;
    .show-con{
        dl:nth-of-type(5){
            .show-circle{
                @include circle(#c92929);
                display: inline-block;
                margin:0 10px 0 133px !important;
                .red{
                    background: #c92929 !important;
                }
            }
            .show-circle2{
                display: inline-block;
                @include circle(#5d5d5d !important);
            }
        }
        dl:nth-of-type(4){
            .show-circle{
                @include circle(#2b2b2b);
                display: inline-block;
                margin:0 10px 0 133px !important;
                .red{
                    background: #2b2b2b !important;
                }  
            }
            .show-circle2{
                display: inline-block;
                @include circle(#f0f0f0 !important);
            }
        }
        .show-con7{
            width: 303px;
            p{
                width: 98px;
                height: 28px;
                border: 1px solid #e1e1e1;
                border-radius: $borderRadius;
                font-size: 12px;
                color: #646464;
                line-height: 28px;
                text-align: center;
                display: none;
                background: #fdfdfd;
                position: absolute;
                left: 102px;
                bottom: 0px;
            }
        }
    }
}
// show2 product
#show2{
    // p{
    //     @include state1;
    // }
    @include product-show;
    margin-top: 25px;
    .show-con{
        dl:nth-of-type(1){
            dt{
                .buy-send{
                    @include state;
                }
            }
            dd{
                .show-circle{
                    display: inline-block;
                    @include circle(#59121a !important);
                    margin:0 10px 0 97px !important; 
                }
                .show-circle2{
                    display: inline-block;
                    @include circle(#d8cbbf);
                    margin-right: 10px;
                }
                .show-circle3{
                    display: inline-block;
                    @include circle(#161515);
                    margin-right: 10px;
                }
                .show-circle4{
                    display: inline-block;
                    @include circle(#232227);
                    margin-right: 10px;
                }
                .show-circle5{
                    display: inline-block;
                    @include circle(#6e1b24);
                    margin-right: 10px;
                }
            }
        }
        dl:nth-of-type(2){
            .show-circle{
                display: inline-block;
                @include circle(#681c26 !important);
                margin:0 10px 0 109px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#ded0bf);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#202020);
                margin-right: 10px;
            }
            .show-circle4{
                display: inline-block;
                @include circle(#ffffff);
                margin-right: 10px;
            }
        }
        dl:nth-of-type(3){
            width: 303px;
            border-left:0;
            border-radius: 0 0 0 $borderRadius;
            dt{
                p{
                    @include state1;
                    z-index: 1;
                }
            }
            .show-circle{
                display: inline-block;
                @include circle(#8f2e35 !important);
                margin:0 10px 0 120px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#1d1d1d);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#d7c2b1);
                margin-right: 10px;
            }
        }
        dl:nth-of-type(5){
            
            .show-circle{
                display: inline-block;
                @include circle(#8f2e35 !important);
                div{
                    background: url('../src/img/origin.jpg');
                    background-size: 8px 8px;
                }
                margin:0 10px 0 97px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#d7c2b1);
                div{
                    background: url('../src/img/origin1.jpg');
                    background-size: 8px 8px;
                }
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#d7c2b1);
                div{
                    background: url('../src/img/origin2.jpg');
                    background-size: 8px 8px;
                }
                margin-right: 10px;
            }
            .show-circle4{
                display: inline-block;
                @include circle(#d7c2b1);
                div{
                    background: url('../src/img/origin4.jpg');
                    background-size: 8px 8px;
                }
                margin-right: 10px;
            }
            .show-circle5{
                display: inline-block;
                @include circle(#d7c2b1);
                div{
                    background: url('../src/img/origin5.jpg');
                    background-size: 8px 8px;
                }
                margin-right: 10px;
            }
        }
        .show-con71{
            border-radius: 0 0 $borderRadius 0;
            p{
                width: 98px;
                height: 28px;
                border: 1px solid #e1e1e1;
                border-radius: $borderRadius;
                font-size: 12px;
                color: #646464;
                line-height: 28px;
                text-align: center;
                display: none;
                background: #fdfdfd;
                position: absolute;
                left: 102px;
                bottom: 0px;
            }
        }
        .show-con51{
            dt{
                position: relative;
                a{
                    p{
                        @include state1;
                    }
                }
            }
            dd{
                p{
                    width: 98px;
                    height: 28px;
                    border: 1px solid #e1e1e1;
                    border-radius: $borderRadius;
                    font-size: 12px;
                    color: #646464;
                    line-height: 28px;
                    text-align: center;
                    display: none;
                    background: #fdfdfd;
                    position: absolute;
                    left: 102px;
                    bottom: 0px;
                }
            }
        }
        .show-con61{
            dt{
                position: relative;
                a{
                    p{
                        @include state1;
                        z-index: 1;
                    }
                }
            }
        }
    }
}
// show3
#show3{
    @include product-show;
    .show-con51,.show-con61{
        @include state1;
    }
    .show-con{
        dl:nth-of-type(3){
            .show-circle{
                display: inline-block;
                @include circle(#000000 !important);
                margin:0 10px 0 97px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#ffffff);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#93cfeb);
                margin-right: 10px;
            }
            .show-circle4{
                display: inline-block;
                @include circle(#f8acf4);
                margin-right: 10px;
            }
            .show-circle5{
                display: inline-block;
                @include circle(#fbf084);
                margin-right: 10px;
            }
        }
        dl:nth-of-type(5){
            .show-circle{
                @include circle(#000000 !important);
            }
        }
        dl:nth-of-type(6){
            .show-circle{
                @include circle(#ffffff !important);
                opacity: 0.3;
            }
        }
        .show-con2{
            dt{
                P{
                    @include state;
                }
            }
        }
        .show-con3{
            dt{
                P{
                    @include state;
                }
            }
        }
        .show-con4,.show-con7{
            p{
                width: 98px;
                height: 28px;
                border: 1px solid #e1e1e1;
                border-radius: $borderRadius;
                font-size: 12px;
                color: #646464;
                line-height: 28px;
                text-align: center;
                display: none;
                background: #fdfdfd;
                position: absolute;
                left: 102px;
                bottom: 0px;
            }
        }
    }
}
// show4
#show4{
    @include product-show;
    .show-con{
        dl:nth-of-type(1){
            .show-circle{
                display: inline-block;
                @include circle(#202020 !important);
                margin:0 10px 0 109px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#eaebef);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#17212b);
                margin-right: 10px;
            }
            .show-circle4{
                display: inline-block;
                @include circle(#b7c2d8);
                margin-right: 10px;
            }  
            dd{
                h4{
                    p{
                        @include plus;
                    }
                }
            }
        }
        dl:nth-of-type(2){
            dd{
                h4{
                    p{
                        @include plus;
                    }
                }
            }
            .show-circle{
                display: inline-block;
                @include circle(#ba0926 !important);
                margin:0 10px 0 97px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#553526);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#ffffff);
                margin-right: 10px;
            }
            .show-circle4{
                display: inline-block;
                @include circle(#000000);
                margin-right: 10px;
            }
            .show-circle5{
                display: inline-block;
                @include circle(#172542);
                margin-right: 10px;
            }
        }
        dl:nth-of-type(3){
            dd{
                h4{
                    p{
                        @include plus;
                    }
                }
            }
            .show-circle{
                display: inline-block;
                @include circle(#ba0926 !important);
                margin:0 10px 0 120px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#553526);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#172542);
                margin-right: 10px;
            }
        }
        dl:nth-of-type(4){
            dd{
                h4{
                    p{
                        @include plus;
                    }
                }
            }
            .show-circle{
                display: inline-block;
                @include circle(#ffffff !important);
                margin:0 10px 0 120px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#000000);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#172542);
                margin-right: 10px;
            }
        }
        dl:nth-of-type(5){
            dd{
                h4{
                    p{
                        @include plus;
                    }
                }
            }
            .show-circle{
                display: inline-block;
                @include circle(#f2f3f5 !important);
                margin:0 10px 0 120px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#7a2e38);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#1e2430);
                margin-right: 10px;
            }
        }
        dl:nth-of-type(6){
            dd{
                h4{
                    p{
                        @include plus;
                    }
                }
            }
            .show-circle{
                display: inline-block;
                @include circle(#292a2e !important);
                margin:0 10px 0 109px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#e1e6ec);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#444b65);
                margin-right: 10px;
            }
            .show-circle4{
                display: inline-block;
                @include circle(#632b36);
                margin-right: 10px;
            }
        }
    }
}
// show5
#show5{
    @include product-show;
    .show-con{
        position: relative;
        .show-con11{
            font-size: 12px;
            color: #666666;
            position: absolute;
            right: 116px;
            top: 26px;

        }
        .show-con12{
            width: 3px;
            height: 3px;
            background: #bebebe;
            position: absolute;
            right: 96px;
            top: 32px;
        }
        .show-con13{
            font-size: 12px;
            color: #666666;
            position: absolute;
            right: 26px;
            top: 26px;
        }
        dl:nth-of-type(1){
            .show-circle{
                display: inline-block;
                @include circle(#dedede !important);
                margin:0 10px 0 109px !important; 
            }
            .show-circle2{
                display: inline-block;
                @include circle(#eed0b8);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#333333);
                margin-right: 10px;
            }
            .show-circle4{
                display: inline-block;
                @include circle(#f8acf4);
                div{
                    background: url('../src/img/119.jpg');
                    background-size: 8px 8px;
                }
                margin-right: 10px;
            }
        }
        dl:nth-of-type(2){
            .show-circle{
                @include circle(#333333 !important);
            }
        }
        dl:nth-of-type(3){
            .show-circle{
                @include circle(#333333 !important);
            }
        }
        dl:nth-of-type(4){
            .show-circle{
                @include circle(#333333 !important);
            }
        }
        dl:nth-of-type(5){
            .show-circle{
                display: inline-block;
                @include circle(#333333 !important);
                margin: 0 10px 0 133px !important;
            }
            .show-circle2{
                display: inline-block;
                @include circle(#bf9986);
            }
        }
        dl:nth-of-type(6){
            .show-circle{
                display: inline-block;
                @include circle(#bf9484 !important);
                margin: 0 10px 0 120px !important;
            }
            .show-circle2{
                display: inline-block;
                @include circle(#b6b6b4);
                margin-right: 10px;
            }
            .show-circle3{
                display: inline-block;
                @include circle(#c0b9a9);
            }
        }
    }
}
// one-step
#one-step{
    width: $headwidth;
    height: 202px;
    margin-top: 25px;
    .one-step-con{
        width:$width;
        height: $headwidth;
        border: 1px solid #dbdbdb;
        border-radius: $borderRadius;
        @include center;
        img{
            float: left;
            width: 304px;
            height: $headwidth;
            border-left: 1px solid #eeeeee;
        } 
        img:nth-of-type(1){
            border-left: 0;
            width: 303px;
            border-radius: $borderRadius 0 0 $borderRadius;
        }
        img:nth-of-type(4){
            border-radius: 0 $borderRadius $borderRadius 0;
        }
    }
}
// 锤子应用
#hand{
    width: $headwidth;
    height: 376px;
    margin-top: 25px;
    .hand-con{
        width: $width;
        height: $headwidth;
        border: 1px solid #dbdbdb;
        border-radius: $borderRadius;
        @include center;
        .hand-con1{
            width: $width;
            height: 60px;
            border-bottom: 1px solid #dbdbdb;
            border-radius: $borderRadius $borderRadius 0 0;
            background: #fafafa;
            position: relative;
            h2{
                display: inline-block;
                height: $headwidth;
                line-height: 60px;
                font-size: 18px;
                color: #7a667a;
                margin-left: 24px;
                font-weight: 500;
            }
            h3{
                position: absolute;
                height: 35px;
                width: 98px;
                border: 1px solid #e1e1e1;
                border-radius: $borderRadius;
                line-height: 35px;
                text-align: center;
                font-size: 12px;
                color: #7a6677;
                font-weight: 500;
                right: 25px;
                top: 14px;

            }
        }
        dl:nth-of-type(1){
            width: 304px;
            height: 315px;
            float: left;
            background:#ffffff; 
            position: relative;
            dt{
                height: 119px;
                width: $headwidth - 120 px;
                padding: 68px 0 0 120px;
                p{
                    width: 68px;
                    height: 58px;
                    background: url('../src/img/76.png') no-repeat;
                    background-position: -13px;
                }
            }
            dd{
                h2{
                    font-size: 12px;
                    color: #333333;
                    text-align: center;
                    margin-bottom: 20px;
                    font-weight: 900; 
                }
                h3{
                    font-size: 12px;
                    color: #a7b0b4;
                    text-align:center;
                    margin-bottom: 20px;
                    line-height:  17px;
                }
                div{
                    position: relative;
                    div:nth-of-type(1){
                        position: absolute;
                        left: 131px;
                        top: 0;
                        font-size: 12px !important;
                        color: #eeeeee !important;
                    }
                    div:nth-of-type(2){
                        position: absolute;
                        right: 131px;
                        top: 0;
                        font-size: 12px !important;
                        color: #eeeeee;
                    }
                    p{
                        width: 1px;
                        height: 8px;
                        background: #eeeeee;
                        position: absolute;
                        right: 151px;
                        top: 5px;
                    }
                }
            }
            .download{
                width: $headwidth;
                height: $headwidth;
                background: #ffffff;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                display:none;
                .p1{
                    width: 189px;
                    height: 45px;
                    background: #6b93e3;
                    position: absolute;
                    left: 42px;
                    top: 74px;
                    border-radius: $borderRadius;
                    cursor: pointer;
                    span{
                        font-size: 12px !important;
                        color: #ffffff;
                        line-height: 45px;
                    }
                    .icon-windows{
                        margin-left: 19px !important;
    
                    }
                }
                .p2{
                    width: 189px;
                    height: 45px;
                    background: #6b93e3;
                    position: absolute;
                    left: 42px;
                    top: 137px;
                    border-radius: $borderRadius;
                    cursor: pointer;
                    span{
                        font-size: 12px !important;
                        color: #ffffff;
                        line-height: 45px;
                    }
                    .icon-iphone{
                        margin-left: 19px !important;
                    }
                }
                h6{
                    font-size: 12px;
                    line-height: 12px;
                    position: absolute;
                    bottom: 45px;
                    left: 74px;
                    a{
                        color: #5079d9;
                    }
                }
            }
            .scan{
                width: $headwidth;
                height: $headwidth;
                background: #ffffff;
                z-index: 1;
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                img{
                    width: 106px;
                    height: 106px;
                    position: absolute;
                    left: 97px;
                    top: 59px;
                }
                h5{
                    font-size: 12px;
                    color: #666666;
                    position: absolute;
                    left: 97px;
                    top: 198px;
                    line-height: 12px;
                    margin-top: 31px;
                    margin-bottom: 17px;
                }
                h6{
                    font-size: 12px;
                    line-height: 12px;
                    position: absolute;
                    bottom: 45px;
                    left: 92px;
                    a{
                        color: #5079d9;
                    }
                }
            }
            
        }
        dl:nth-of-type(2){
            @extend dl:nth-of-type(1);
            border-left: 1px solid #e5e5e5;
            dt{
                p{
                    background-position: -208px;
                }
            }
        }
        dl:nth-of-type(3){
            @extend dl:nth-of-type(1);
            width: 303px;
            border-left: 1px solid #e5e5e5;
            position: relative;
            dt{
                p{
                    background-position: -305px;
                }
            }
            
            
        }
        dl:nth-of-type(4){
            @extend dl:nth-of-type(1);
            border-left: 1px solid #e5e5e5;
            dt{
                p{
                    background-position: -383px;   
                }
            }
            dd{
                div{
                    div{
                        left:144px !important;
                    } 
                }
            }
            .tec{
                width: $headwidth;
                height: $headwidth;
                background: #ffffff;
                z-index: 1;
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                img{
                    width: 106px;
                    height: 106px;
                    position: absolute;
                    left: 97px;
                    top: 59px;
                }
                h5{
                    font-size: 12px;
                    color: #666666;
                    position: absolute;
                    left: 97px;
                    top: 198px;
                    line-height: 12px;
                    margin-top: 31px;
                    margin-bottom: 17px;
                }
                h6{
                    font-size: 12px;
                    line-height: 12px;
                    position: absolute;
                    bottom: 45px;
                    left: 92px;
                    a{
                        color: #5079d9;
                    }
                }
            }
        }
        .hand-con4{
            .read{
                width: $headwidth;
                height: $headwidth;
                background: #ffffff;
                z-index: 1;
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                img{
                    width: 106px;
                    height: 106px;
                    position: absolute;
                    left: 97px;
                    top: 59px;
                }
                h5{
                    font-size: 12px;
                    color: #666666;
                    position: absolute;
                    left: 97px;
                    top: 198px;
                    line-height: 12px;
                    margin-top: 31px;
                    margin-bottom: 17px;
                }
                h6{
                    font-size: 12px;
                    line-height: 12px;
                    position: absolute;
                    bottom: 45px;
                    left: 92px;
                    a{
                        color: #5079d9;
                    }
                }
            }
        }
    }
}
// 论坛精选
#forum{
    @extend #hand;
    .forum-con{
        @extend .hand-con;
        .forum-con1{
            @extend .hand-con1;
        }
        dl:nth-of-type(1){
            height: 324px;
            dt{
                width: $headwidth - 30 px;
                height: 171px;
                padding:30px 0 0 30px; 
                img{
                    width: 246px;
                    height: 138px;
                    border-radius: $borderRadius;

                }
            }
            dd{
                width: 274 px;
                height: 91px;
                padding-left: 30px;
                h2{
                    margin-bottom: 16px;
                    font-size: 14px;
                    text-align: left;
                    line-height:14px; 
                }
                h3{
                    font-size: 12px;
                    margin-bottom:20px;
                    text-align: left;
                    line-height: 15px; 
                }
                a{
                    display: block;
                    font-size: 12px;
                    color: #5079d9;
                    line-height: 12px;
                }
                
            }
        }
        dl:nth-of-type(2){
            height: 324px;
            dt{
                width: $headwidth - 30 px;
                height: 171px;
                padding:30px 0 0 30px; 
                img{
                    width: 246px;
                    height: 138px;

                }
            }
            dd{
                width: 274 px;
                height: 91px;
                padding-left: 30px;
                h2{
                    margin-bottom: 16px;
                    font-size: 14px;
                    text-align: left;
                    line-height:14px; 
                }
                h3{
                    font-size: 12px;
                    margin-bottom:20px;
                    text-align: left;
                    line-height: 15px; 
                }
                a{
                    display: block;
                    font-size: 12px;
                    color: #5079d9;
                    line-height: 12px;
                }
                
            }
        }
        dl:nth-of-type(3){
            @extend dl:nth-of-type(1);
            width: 303px;
            h2{
                line-height: 14px;
            }
        }
        dl:nth-of-type(4){
            @extend dl:nth-of-type(3);
        }
    }
}
// bottom
#bottom{
    width: $headwidth;
    height: 352px;
    margin-top:60px;
    .bottom-con{
        width: 1262px;
        height: 352px;
        border: 1px solid #e6e6e6;
        @include center;
        background: #fafafa;
        div:nth-of-type(1){
            padding-top:100px;
            padding-left: 22px;
            ul:nth-of-type(1){
                width: 48px;
                height: 92px;
                float: left;
                margin-right: 100px;
                li{
                    margin-bottom: 13px;
                    font-size: 12px;
                    a{
                        display: block;
                        font-size: 12px;
                        line-height: 12px;
                        color: #969696;
                    }  
                }
                li:nth-of-type(1){
                    color: #646464;
                    margin-bottom: 13px;
                }
            }
            ul:nth-of-type(2){
                @extend ul:nth-of-type(1);
            }
            ul:nth-of-type(3){
                @extend ul:nth-of-type(1);
            }
            ul:nth-of-type(4){
                @extend ul:nth-of-type(1);
            }
            ul:nth-of-type(5){
                @extend ul:nth-of-type(1);
            }
            ul:nth-of-type(6){
                @extend ul:nth-of-type(1);
            } 
        }
        div:nth-of-type(2){
            width: 187px; 
            float: right;
            h2{
                font-size: 22px;
                color:#646464;
                line-height: 22px;
                font-weight: 900;
                margin-bottom: 32px; 
            }
            a{
                div{
                    width: 126px;
                    height: 30px;
                    background: #f8f8f8;
                    padding-top: 0 !important;
                    padding-left: 0 !important;
                    margin:  0 !important;
                    border: 1px solid #dcdcdc;
                    position: relative;
                    border-radius: $borderRadius;
                    p{
                        width: 14px;
                        height: 14px;
                        border-radius:7px;
                        background:#5079d9;
                        text-align: center;
                        line-height: 14px;
                        font-size: 8px;
                        color: #f9f9f5;
                        position: absolute;
                        left: 26px;
                        top: 9px; 
                    }
                    span{
                        font-size: 12px;
                        color: #5079d9;
                        line-height: 12px;
                        position: absolute;
                        right: 25px;
                        top: 10px;
                        text-align: center;
                    }
                }
            }

        }
        div:nth-of-type(3){
            position: relative;
            .change{
                padding: 0 !important;
                position: absolute;
                width: 80px;
                height: 13px;
                top: 17px;
                right: 0;
                span:nth-of-type(1){
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 16px;
                    height: 13px;
                    background: url('../src/img/guoqi.jpg') no-repeat
                }
                p{
                    position: absolute;
                    left: 25px;
                    height: 19px;
                    display: block;
                    font-size:12px;
                    line-height: 12px;
                    color: #45474b;
                }
                span:nth-of-type(2){
                    position: absolute;
                    top: 5px;
                    right: 0;
                    width: 7px;
                    height: 4px;
                    display: block;
                    background: url('../src/img/sanjiao.jpg')
                }
            }
            width: 1220px;
            height:76px;
            border-top: 1px solid #e6e6e6;
            float: left;
            margin: 28px ;;
            padding-top: 43px;
            h2{
                font-size:12px;
                color: #757575;
                line-height: 12px;
                float: left;
                margin-right: 13px;
            }
            ul{
                li{
                    width: 68px;
                    height: 12px;
                    
                    float: left;
                    border-left: 1px solid #cccccc;
                    a{
                        display: block;
                        font-size: 12px;
                        line-height: 12px;
                        color: #5079d9;
                        text-align: center;
                    }
                }
            }
            section{
                padding: 0 !important;
                margin-top: 22px;
                p{
                    display: inline-block;
                    font-size:12px;
                    color:#bdbdbd;
                    line-height: 12px;
                    margin-right: 20px;
                }
            }
        }
    }
}