@import 'public';
body,html{
    background: #f7f7f7;
    #login{
        width: 450px;
        height: 550px;
        background: #f8f8f8;
        border: 1px solid #dadada;
        border-radius: 10px;
        margin: 76px auto;
        position: relative;
        .logo-t{
            section{
                width: 86px;
                height: 86px;
                background: url('../src/img/13.png') no-repeat center center;
                border-radius: 43px;
                position: absolute;
                top: 60px;
                left: 182px;
            }
            h2{
                font-size: 18px;
                color: #333333;
                line-height: 18px;
                text-align: center;
                position: absolute;
                left: 98px;
                top: 173px;
            }
        }
        .p1{
            position: absolute;
            width: 368px;
            height: 46px;
            border-radius: 10px;
            left: 40px;
            top: 240px;
            border: 1px solid #dadada;
            span{
                width: 46px;
                height: 46px;
                display: block;
                float: left;
                background: #fbfbfb url('../src/img/5.png') no-repeat;
                border-right: 1px solid #e0e0e0;
                border-radius: 10px 0 0 10px;
            }
            input{
                width: 321px;
                height: 46px;
                font-size: 14px;
                border: 0;
                float: right;
                border-radius: 0 10px 10px 0;
            }
        }
        .p2{
            @extend .p1;
            top: 303px;
            span{
                background-position: -46px;
            }
        }
        .p3{
            height: 16px;
            width: 362px;
            position: absolute;
            left: 44px;
            top: 364px;
            h2{
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                background: pink url('../src/img/3.png') no-repeat;
                background-position: 0 -20px;
                position: absolute;
                left: 0;
                top: 0;
            }
            h3{
                font-size: 12px;
                color: #999999;
                line-height: 16px;
                position: absolute;
                top: 0;
                left: 24px;
            }
            span{
                font-size: 12px;
                line-height: 16px;
                float: right;
                a{
                    color: #5079d9;
                }
            }
            .sp1{
                border-right: 1px solid #e5e5e5;
                margin-right: 8px;
                padding-right: 8px;
            }
        }
        .p4{
            position: absolute;
            left: 40px;
            bottom: 94px;

            input{
                width: 368px;
                height: 46px;
                background: #bdcdef;
                font-size: 18px;
                color: #f9fafa;
                border-radius: 10px;
                border: 1px solid #afbcda;
                cursor: pointer;
            }
        }
        .bot{
            width: 370px;
            height: 63px;
            border-top: 1px solid #d9d9d9;
            position: absolute;
            bottom: 0;
            left: 40px;
            h2{
                font-size: 12px;
                color: #999999;
                line-height: 12px;
                float: left;
                margin-top: 26px;
            }
            p{
                width: 109px;
                height: 17px;
                background: url('../src/img/11.png') no-repeat;
                float:left;
                margin: 24px 55px 0 19px;
            }
            h3{
                font-size: 12px;
                line-height: 12px;
                float: left;
                margin-top: 26px;
                a{
                    color: #999999;
                }
            }
        }
    }
}